*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.unlogged{
    background-color:black;
    overflow-x: hidden;
    background-image: url("/static/images/unsplash5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    header{
        position: fixed;
        top:0;
        width: 100%;
        border: none;
        z-index: 10;

        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navlogo{
                transition:0.2s
            }
            .navlogo:hover{
                color: tomato;

            }
            
            .navitems{
                display:flex;
                margin-right: 80px;
                .navitem{
                    margin-right:20px;
                    font-size: 1.5rem;
                    margin-right: 40px;
                    text-decoration: none;
                    transition: 0.2s;
                }
                .navitem:hover{
                    color: aliceblue;
                    border-bottom: 2px solid tomato;
                }
            }
        }
    }

    .button{
        position: absolute;
        top:30%;
        left:40%;
        background-color: tomato;
        border:none;
        color:white
    }

    .login{

        position:absolute;
        top:30%;
        width:30%;

        .form{
            border: none;
        }
    }

    .register{
        position: absolute;
        top:20%;
        
        .form{
            border:none;
            width:40%;
        }
    }
}
.logged{
    width:100%;
    background-color:azure;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;

    header{
        position: fixed;
        top:0;
        width: 100%;
        border: none;
        background-color:azure;
        z-index: 10;

        .navbar{
            display: flex;
            // justify-content: space-between;
            align-items: center;

            .navlogo{
                transition:0.2s;
                margin-left: -1000px;
            }
            .navlogo:hover{
                color: tomato;

            }
            
            .navitems{
                display:flex;
                margin-right: 80px;
                .navitem{
                    margin-right:20px;
                    font-size: 1.5rem;
                    margin-right: 40px;
                    text-decoration: none;
                    transition: 0.2s;
                }
                .navitem:hover{
                    color: aliceblue;
                    border-bottom: 2px solid tomato;
                }
            }
        }
    }

    .sidebar{
        height: 100vh;
        width:20%;
        left:0;
    }

    .cards{
        position: absolute;
        top:1%;
    }
}