@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Comfortaa:wght@300;400;500;600;700&family=Peralta&family=Rubik+Distressed&family=Silkscreen&display=swap");


$font-family1: 'Aboreto', cursive;
$font-family2: 'Bebas Neue', cursive;
$font-family3: 'Comfortaa', cursive;
$font-family4: 'Peralta', cursive;
$font-family5: 'Rubik Distressed', cursive;
$font-family6: 'Silkscreen', cursive;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.unlogged{
    background-color:black;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: snow;

    .svg1{
        position: absolute;
        width: 20%;
        right: 70px;
        top:130px;

    }
    .svg2{
        position: absolute;
        width: 20%;
        bottom: 0;
        left:300px;
        
    }

    .svg3{
        position: absolute;
        right:70px;
        width: 70%;
        top:80px;
    }

    .svg4{
        position: absolute;
        right:10px;
        top:50px;
        width:60%;

    }


    header{
        position: fixed;
        top:0;
        width: 100%;
        border: none;
        z-index: 10;

        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .navitems{
                display:flex;
                margin-right: 80px;
                .navitem{
                    
                    font-size: 1.1rem;
                    margin-right: 40px;
                    text-decoration: none;
                    transition: 0.2s;
                    font-family: $font-family3;
                
                    border: 1px solid rgb(59 130 246 / 0.5);
                }
                .navitem:hover{
                    color: black;
                    border-radius: 25px;
                    
                    background-color: rgb(59 130 246 / 0.5);
                    color: white;
                }
            }
        }
    }

    .button{
        position: absolute;
        bottom: 0;
        left:60%;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-bottom: 40px;
        color: aliceblue;
        border: 2px solid rgb(59 130 246 / 0.5);
        color: black;   
        transition: 0.2s;     
    }

    .button:hover{
        background-color: rgb(59 130 246 / 0.5);
        border: none;
        
        a{
            color: aliceblue;
        }
    }
    .landing{
        position: absolute;
        top: 80px;
        width: 40%;
        left: 70px;

        .title{
            font-family: $font-family3;

        }
        .quote{
            font-family: $font-family3;
        }

    }

    .login{
        position:absolute;
        top:30%;
        width:30%;
        font-family: $font-family3;

        .logbtn{
            border:2px solid rgb(59 130 246 / 0.5);
        }
        .logbtn:hover{
            background-color: rgb(59 130 246 / 0.5);
            border: none;
            color: aliceblue;
        }

        .form{
            border: none;
        }


    }

    .register{
        position: absolute;
        top:20%;
        font-family: $font-family3;

        .rgstbtn{
            border: 2px solid rgb(59 130 246 / 0.5);
            color: black;
        }
        
        .rgstbtn:hover{
            border: none;
            color: white;
            background-color: rgb(59 130 246 / 0.5);
        }
        .form{
            border:none;
            width:40%;
        }
    }
}
.logged{
    width:100%;
    background-color:azure;
    overflow-x: hidden;

    header{
        position: fixed;
        top:0;
        width: 100%;
        border: none;
        background-color:azure;
        z-index: 10;

        .nav{
            .logo{
                transition: 0.2s;
        
            }
            .logo:hover{
                color:tomato;
            }
            .search-bar{
                margin:auto;
            }
        
            
            .navitems{
                display:flex;
                margin-right: 80px;
                .navitem{
                    margin-right:20px;
                    font-size: 1.5rem;
                    margin-right: 40px;
                    text-decoration: none;
                    transition: 0.2s;
                }
                .navitem:hover{
                    color: aliceblue;
                    border-bottom: 2px solid tomato;
                }
            }
        }
    }

    .sidebar{
        height: 100vh;
        width:20%;
        left:0;
    }

    .cards{
        position: absolute;
        top:1%;
    }

    .creative{
        h3{
            font-family:$font-family4;
        }
    }
    
    .createform{
        font-family: $font-family3;
        font-weight: 500;

        button:hover{
            background-color: tomato;
            color: white;
            
        }
    }

    .detailhead{
        font-family: $font-family4;

    }

    .details{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;

        .detailed{
            width: 70%;
            height: 80vh;
        }
    }
}