{% extends 'blog/base.html' %}
{% block title %}
{% endblock %}
{% block content %}
  <div class="detailhead text-2xl mt-5 text-center p-5 font-bold">
    <p>{{ detail.author }}'s view on {{ detail.title }}</p>
  </div>
  <div class="details">
    <div class="detailed shadow-lg">
      <div class="image w-100 flex justify-center bg-gray-800">
        <img src="{{ detail.post_image.url }}" class="rounded img-fluid">
      </div>
      <br>
      <hr class="w-50 mx-auto font-bold p-4">
      <div class="title">
        <h3 class="text-3xl font-bold text-center p-2">{{ detail.title }}</h3>
      </div>
      <hr class="p-3 mx-auto w-50">
      <div class="desc">
        <p class="text-center text-1xl pt-6 font-bold"> {{ detail.description }}</p>
      </div>
      <div class="body">
        <p class="text-center p-5">{{ detail.body }}</p>
      </div>

    </div>
  </div>

{% endblock %}