{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="cards pt-24 px-3">
        <div class="row">
            {% for post in posts %}
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img src="{{ post.post_image.url }}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title font-bold text-2xl">{{ post.title }}</h5>
                        <p class="">By: <b>{{ post.author }}</b></p>
                        <p class="card-text">{{ post.description }}</p>
                        <a href="{{ post.slug }}" class="btn btn-primary">View Article</a><br>
                        <small class="ml-2"><em>Published: {{ post.created }}</em></small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="button flex items-center justify-center fa-bounce">
        <a href="{% url 'Authenticate:login' %}" class="font-bold p-9 fa-solid fa-pen-nib">Write
        </a>
    </div>
    <img src="{% static 'images/Blog post-amico (1).svg' %}" class="svg1">
    <img src="{% static 'images/Content-amico.svg' %}" class="svg2">
    <div class="landing">
        <p class="title text-blue-400 font-bold text-5xl pt-9 mt-5">Walobwa's Blog Page</p>
        <p class="quote text-2xl pt-4 font-bold">The best time to act on this was decades ago. The second best time is now. 
            You've come to the right place, share your thoughts here by writing blogs ...
        </p>
    </div>
    {% endif %}

{% endblock %}